In [1]:
# Modify the file 00_setup.py to define input/output file paths on your system
# The information in 00_setup.py will be used across notebooks
from importlib.machinery import SourceFileLoader
setup = SourceFileLoader("setup", "./00_setup.py").load_module()

# Data Imputation and Scaling for Neural Networks
Convert features so they can be used in a neural network (or GNN).  
* Impute missing features
* Scale values
* Set an "alternative" NAICS for encoding
  * For NAICS not in the training data, use the highest-volume NAICS within the sector

For continuous features, I do quantile encoding then min/max scaling to -1, 1.  For binary fields (and fields with a small number of levels) I just min/max rescale

*This script takes about 5 minutes on my MacBook Air*

In [2]:
import pandas as pd
import numpy as np

In [3]:
from pathlib import Path
import importlib, pickle
from sklearn import model_selection
from sklearn.preprocessing import LabelEncoder

In [4]:
# Imputer object for easy dataset conversion to GNN friendly format
from sba_gnn.sba_gnn import sg_imputer 
from sba_gnn.sba_gnn.sg_imputer import GNNImputer

## Input training data, set alternate NAICS

Import the data, and set an alternate NAICS for test and validation, such that NAICS that are not in the training data are set to the most common NAICS in the same sector in the training data

##### Import train data

In [5]:
sba_loans = pd.read_parquet(Path(setup.temp_path).joinpath('01_DATA_transformed.parquet'))

In [6]:
train_df = sba_loans[sba_loans['dset'] == 'train']
test_val_df = sba_loans[sba_loans['dset'] != 'train']

## Get alternative NAICS (test and validation)

In [7]:
# For train, use the original NAICS
naics_alt_train = train_df[['NAICS', 'LoanNr_ChkDgt']]

In [8]:
# For test, validation in train, also use original

In [9]:
train_naics = train_df[['NAICS']].drop_duplicates()
naics_alt_merge = test_val_df[['LoanNr_ChkDgt', 'NAICS', 'NAICS_sector']] \
    .merge(train_naics, how='left', on='NAICS', indicator = True)

In [10]:
naics_alt_2 = naics_alt_merge[naics_alt_merge['_merge'] == 'both'] \
    .drop(columns='_merge')

In [11]:
# Remap those not in train

In [12]:
grouped = train_df.groupby('NAICS_sector')
sector_alt_naics = pd.concat([g[['NAICS']].value_counts().head(1).reset_index() \
                              for n, g in grouped], keys=[n for n, g in grouped]) \
    .reset_index(level=0) \
    .reset_index(drop = True) \
    .rename(columns={'level_0':'NAICS_sector'}) \
    [['NAICS_sector', 'NAICS']]

In [13]:
naics_alt_3 = naics_alt_merge[naics_alt_merge['_merge'] == 'left_only'] \
    .drop(columns=['NAICS', '_merge']) \
    .merge(sector_alt_naics, how='left', on='NAICS_sector')

In [14]:
naics_alt_3['NAICS'].isna().value_counts()

NAICS
False    33336
Name: count, dtype: int64

In [15]:
naics_alt = pd.concat([naics_alt_train, naics_alt_2, naics_alt_3])[['LoanNr_ChkDgt', 'NAICS']] \
    .rename(columns={'NAICS':'NAICS_alt'})

In [16]:
sba_loans.shape

(688081, 50)

In [17]:
sba_loans = sba_loans.merge(naics_alt, on='LoanNr_ChkDgt')

In [18]:
sba_loans.shape

(688081, 51)

## Imputer

For a neural network, I need to handle missings and also scale features.  For missing values, I will do a simple median fill for all, but add missing indicators.

To scale the data, I will do a quantile transform for features with > 5 levels.  This is to avoid scaling binary features.  Then I do a Min/Max scaling on all features, so they are in the [0,1] range

I define a class to do this in sg_imputer.  This class wraps several scikit-learn imputers/scalers so that I can easily fit the objects and then transform the data.  In this section, I show some descriptives to justify my imputation/scaling choices, and also fit the scaler

In [19]:
train_df = sba_loans[sba_loans['dset'] == 'train']

##### Descriptives - explore missingness

In [20]:
# Same information, more compact
pd.concat([pd.DataFrame([train_df[c].isna().sum()]) for c in setup.predictor_features],
         keys=setup.predictor_features).set_axis(['count_missing'], axis=1)

                     count_missing
NoEmp             0              0
CreateJob         0              0
LowDoc            0           3117
DisbursementGross 0              0
new_business      0            544
urban_flag        0          83339
franchise_flag    0              0

Most fields aren't missing too much.  However I must handle those that are.  I will use a median fill, especially since many of the fields with missingness seem to be binary

##### Explore scaling

In [21]:
# Level counts
feature_level_df = pd.concat([pd.DataFrame([train_df[c].value_counts().count()]) for c in setup.predictor_features],
         keys=setup.predictor_features)
feature_level_df

                         0
NoEmp             0    425
CreateJob         0    184
LowDoc            0      2
DisbursementGross 0  78795
new_business      0      2
urban_flag        0      2
franchise_flag    0      2

A number of features are binary.  I don't need to scale these.  The others must be scaled.

What I will do is scale features with more than a threshold number of levels using a quantile scaler.  Then I'll use a MinMax scaler on everything to be safe (as a 2 level feature could have values other than 0,1).

##### Create imputer to do the median fill and scaling
This imputer fills missing values, adding missingness indicator features.  Then it quantile scales features with over 5 levels, and MinMax scales the rest.

In [22]:
importlib.reload(sg_imputer)
from sba_gnn.sba_gnn.sg_imputer import GNNImputer

In [23]:
imputer = GNNImputer(features = setup.predictor_features,
                    naics_features = ['NAICS', 'NAICS_alt'])

In [24]:
train_out = imputer.fit_transform(train_df)

In [25]:
train_out.describe()

,NoEmp,CreateJob,LowDoc,DisbursementGross,new_business,urban_flag,franchise_flag,missingindicator_LowDoc,missingindicator_new_business,missingindicator_urban_flag,NAICS,NAICS_alt
count,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000,425594.000000
mean,0.000685,-0.421831,-0.805820,0.010198,-0.440904,0.702341,-0.898283,-0.985352,-0.997444,-0.608364,816.985373,816.985373
std,0.571732,0.798309,0.592162,0.577599,0.897555,0.711842,0.439417,0.170532,0.071459,0.793659,342.255738,342.255738
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,1.000000
25%,-0.432432,-1.000000,-1.000000,-0.489489,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,687.000000,687.000000
50%,0.033033,-1.000000,-1.000000,0.019019,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,897.000000,897.000000
75%,0.507508,0.569570,-1.000000,0.515639,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1094.000000,1094.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1232.000000,1232.000000

In [26]:
with open(Path(setup.temp_path).joinpath('10_DATA_imputer.pkl'), 'wb') as fout:
    pickle.dump(imputer, fout)

In [27]:
with open(Path(setup.temp_path).joinpath('10_DATA_features.pkl'), 'wb') as fout:
    pickle.dump(imputer.features_out, fout)

In [28]:
naics_max_levels = imputer.get_naics_encoder_levels()
print(f'NAICS encoder max num: {naics_max_levels}')
with open(Path(setup.temp_path).joinpath('10_DATA_naics_max_levels.pkl'), 'wb') as fout:
    pickle.dump(naics_max_levels, fout)

NAICS encoder max num: 1232

## Transform Test, Validation Data

In [29]:
test_df = sba_loans[sba_loans['dset'] == 'test']
val_df = sba_loans[sba_loans['dset'] == 'val']

In [30]:
test_out = imputer.transform(test_df)

In [31]:
val_out = imputer.transform(val_df)

In [32]:
pd.concat([test_out[['DisbursementGross', 'NoEmp']], test_df[['DisbursementGross', 'NoEmp']]],
          axis=1).corr(method='spearman')

                   DisbursementGross     NoEmp  DisbursementGross     NoEmp
DisbursementGross           1.000000  0.442105           1.000000  0.442105
NoEmp                       0.442105  1.000000           0.442105  1.000000
DisbursementGross           1.000000  0.442105           1.000000  0.442105
NoEmp                       0.442105  1.000000           0.442105  1.000000

In [33]:
val_out.describe()

,NoEmp,CreateJob,LowDoc,DisbursementGross,new_business,urban_flag,franchise_flag,missingindicator_LowDoc,missingindicator_new_business,missingindicator_urban_flag,NAICS,NAICS_alt
count,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000,126041.000000
mean,-0.000933,-0.418181,-0.802905,0.009714,-0.442769,0.704160,-0.898049,-0.985402,-0.997937,-0.606557,814.446014,814.470783
std,0.571717,0.799451,0.596109,0.577622,0.896639,0.710044,0.439897,0.170247,0.064198,0.795043,343.605139,343.572120
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000
25%,-0.432432,-1.000000,-1.000000,-0.491876,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,680.000000,680.000000
50%,0.033033,-1.000000,-1.000000,0.019019,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,890.000000,890.000000
75%,0.507508,0.569570,-1.000000,0.513514,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1093.000000,1093.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1232.000000,1232.000000

In [34]:
test_out.describe()

,NoEmp,CreateJob,LowDoc,DisbursementGross,new_business,urban_flag,franchise_flag,missingindicator_LowDoc,missingindicator_new_business,missingindicator_urban_flag,NAICS,NAICS_alt
count,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000,136446.000000
mean,0.014257,-0.421371,-0.802134,0.007604,-0.455448,0.715477,-0.903889,-0.985122,-0.997420,-0.582223,616.290606,801.504654
std,0.574074,0.798661,0.597146,0.576749,0.890266,0.698639,0.427769,0.171855,0.071784,0.813032,460.186502,348.359537
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000
25%,-0.432432,-1.000000,-1.000000,-0.493390,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,31.250000,625.000000
50%,0.033033,-1.000000,-1.000000,0.019019,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,756.000000,854.000000
75%,0.507508,0.569570,-1.000000,0.511512,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1057.000000,1093.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1232.000000,1232.000000

In [35]:
test_out[['NAICS', 'NAICS_alt']].corr()

              NAICS  NAICS_alt
NAICS      1.000000   0.608976
NAICS_alt  0.608976   1.000000

In [36]:
val_out[['NAICS', 'NAICS_alt']].corr()

              NAICS  NAICS_alt
NAICS      1.000000   0.999925
NAICS_alt  0.999925   1.000000

In [37]:
train_out[['NAICS', 'NAICS_alt']].corr()

           NAICS  NAICS_alt
NAICS        1.0        1.0
NAICS_alt    1.0        1.0

## Combine data
Combine transformed datasets, with key information.  Include the business ID, target status, NAICS features, as well as transformed features from above. Save this data for later use (especially the indices which indicate train/test statustrain_df

In [38]:
naics_features = ['LoanNr_ChkDgt', 'target', 'dset_naics_holdout', 'NAICS', 'NAICS_sector', 
                  'menc_NAICS', 'cenc_NAICS', 'menc_grp_NAICS', 'NAICS_alt'] +  \
    [c for c in train_df.columns if c.startswith('NS__')]
print(naics_features)

['LoanNr_ChkDgt', 'target', 'dset_naics_holdout', 'NAICS', 'NAICS_sector', 'menc_NAICS', 'cenc_NAICS', 'menc_grp_NAICS', 'NAICS_alt', 'NS___Accommodation and Food Services', 'NS___Construction', 'NS___Health Care and Social Assistance', 'NS___Manufacturing', 'NS___Other Services (except Public Administration)', 'NS___Professional, Scientific, and Technical Services', 'NS___Retail Trade', 'NS___Wholesale Trade', 'NS___infrequent_sklearn']

In [39]:
comb_naics = pd.concat([train_df[naics_features], 
                        test_df[naics_features], 
                        val_df[naics_features]], axis=0, keys=['train', 'test', 'val']) \
    .rename(columns={'NAICS':'NAICS_orig', 'NAICS_alt':'NAICS_alt_orig'}) \
    .sort_index()

In [40]:
comb_df = pd.concat([comb_naics,
                     pd.concat([train_out, test_out, val_out], 
                               axis=0, keys=['train', 'test', 'val']).sort_index()],
                    axis=1) \
    .reset_index(level=0) \
    .rename(columns={'level_0':'dset'}, errors='ignore')
print(comb_df.shape)

(688081, 31)

In [41]:
print(comb_df.columns)

Index(['dset', 'LoanNr_ChkDgt', 'target', 'dset_naics_holdout', 'NAICS_orig',
       'NAICS_sector', 'menc_NAICS', 'cenc_NAICS', 'menc_grp_NAICS',
       'NAICS_alt_orig', 'NS___Accommodation and Food Services',
       'NS___Construction', 'NS___Health Care and Social Assistance',
       'NS___Manufacturing',
       'NS___Other Services (except Public Administration)',
       'NS___Professional, Scientific, and Technical Services',
       'NS___Retail Trade', 'NS___Wholesale Trade', 'NS___infrequent_sklearn',
       'NoEmp', 'CreateJob', 'LowDoc', 'DisbursementGross', 'new_business',
       'urban_flag', 'franchise_flag', 'missingindicator_LowDoc',
       'missingindicator_new_business', 'missingindicator_urban_flag', 'NAICS',
       'NAICS_alt'],
      dtype='object')

In [42]:
comb_df.to_parquet(Path(setup.temp_path).joinpath('10_DATA_combined_scaled_all.parquet'))